body {
    margin: 0;
    padding: 0;
    background-color: rgb(17, 3, 114);
    display:flex;
    flex-direction: column;
    width: 100vw;
    height: 10w;
    justify-content: space-between;
    align-items: center;
    font-family: 'Trebuchet MS', sans-serif;

}
header {
    color: rgb(255,255,255);
    height: 150px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    font-size: 50px;
}
svg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
}

.bottom-section {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 150px;
}

.input-container {
    width: 100%;
    max-width: 600px;
    position: relative;
}

input {
    width: 100%;
    border: none;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: rgb(38,57,77) 0 20px 30px -10px;
    box-sizing: border-box;
}

#submit-icon {
    position: absolute;
    top: 10px;
    right: 30px;
}

.record-section {
    color: rgb(255,255,255);
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
    font-family: 'Trebuchet MS', sans-serif;
}

.image-section {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 10px;
}

.image-container {
    width: 25%;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: rgb(38, 57,77) 0 20px 30px -10px;
    color: rgb(255,255,255);
}

.image-container img {
    width: 100%;
}

.loading-spinner {
    border: 8px solid rgba(20, 7, 7, 0.424);
    border-left-color: rgb(231, 132, 132);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}

.loading-spinner.hidden {
    display: none;
}

.console-section {
    color: rgb(255,255,255);
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    font-family: 'Trebuchet MS', sans-serif;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #d56a4a;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover {
    background-color: #a03e26; 
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  .button-container {
    display: flex;
    justify-content: center;
}  